<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Who I am.</h2>
                <hr class="light">
                <p class="text-faded text-justify">I am a Postdoctoral Research Associate in the Department of Bioengineering at the Imperial College London where I am a member of two amazing groups: the Control Engineering Synthetic Biology group headed by Prof Guy-Bart Stan, and the RLA lab headed by Dr Rodrigo Ledesma-Amaro. Previously, I was a Postdoctoral Research Fellow in the Systems and Synthetic Biology lab headed by Prof Diego di Bernardo at the Telethon Institute of Genetics and Medicine in Italy. I was awarded a B.Sc in Computer Engineering (Summa cum laude), a M.Sc in Automation Engineering (Summa cum laude), and a Ph.D in Information Technology and Electrical Engineering, all from University of Naples Federico II, Italy, on March 2009, October 2013, and May 2017, respectively.</p>
                <h2 class="section-heading">what I do.</h2>
                <hr class="light">
                <p class="text-faded text-justify">I'm working on a project that uses math to unravel the mysteries behind division of labour in synthetic microbial consortia. I am also studying innovative biomolecular control circuits implemented at host-cell level.</p>
            </div>
        </div>
    </div>
</section>
