<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2 class="section-heading">Who I am</h2>
                <hr class="light">
                <p class="text-faded">Hi, I am a <b>research scientist</b> at <b>Imperial College London</b>. I am interested in solving big problems using the power of AI and control theory. I am very experienced in applying AI and control theory tools to quantitatively study the behaviour and evolution of dynamical systems in time and space at different time scales. I am also experienced in building automated robotics platforms that enable big data collection and precise control in life sciences research. 
                    <br> I am a Postdoctoral Research Associate in the Department of Bioengineering at the Imperial College London where I am a member of two amazing groups: the Control Engineering Synthetic Biology group headed by Prof Guy-Bart Stan, and the RLA lab headed by Dr Rodrigo Ledesma-Amaro. Previously, I was a postdoctoral researcher in the Systems and Synthetic Biology Lab headed by Prof. Diego di Bernardo at the Telethon Institute of Genetics and Medicine in Italy. I was awarded a B.Sc in Computer Science Engineering (Summa cum laude), a M.Sc in Automation Engineering (Summa cum laude), and a Ph.D in Information Technology, all from University of Naples Federico II, Italy, on March 2009, October 2013, and May 2017, respectively.
                </p>
            </div>
        </div>
    </div>
</section>
