<section class="bg-primary" id="cv">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Background and Experience</h2>
                <hr class="light">
                <p class="text-faded-center">Perhaps, you might be interested to have a look at my CV.</p>
                <a href="#">
                <i class="fa fa-file-pdf-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p class="text-faded-center">Curriculum Vitae</p>
                </a>
            </div>
        </div>
    </div>
</section>
