<head>

<!--
 _______ _________ _______  _        _______ _________ _______  _______  _        _______ 
(  ____ \\__   __/(  ___  )( (    /|(  ____ \\__   __/(       )(  ___  )( (    /|(  ____ \
| (    \/   ) (   | (   ) ||  \  ( || (    \/   ) (   | () () || (   ) ||  \  ( || (    \/
| |         | |   | (___) ||   \ | || (_____    | |   | || || || |   | ||   \ | || (__    
| | ____    | |   |  ___  || (\ \) |(_____  )   | |   | |(_)| || |   | || (\ \) ||  __)   
| | \_  )   | |   | (   ) || | \   |      ) |   | |   | |   | || |   | || | \   || (      
| (___) |___) (___| )   ( || )  \  |/\____) |___) (___| )   ( || (___) || )  \  || (____/\
(_______)\_______/|/     \||/    )_)\_______)\_______/|/     \|(_______)|/    )_)(_______/ 

CODE BY GIANSIMONE.DEV / GIANSIMONE PERRINO

-->

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="Giansimone Perrino">

<title>Giansimone Perrino | Scientist, Bioengineer, Innovator</title>
<meta name="description" content="Hi, I am Giansimone Perrino, a research scientist and bioengineer. I am passionate about solving open science problems and developing next-generation technologies using the power of synthetic biology, AI, and control engineering.">
<link rel="canonical" href="https://giansimone.dev/">

<meta name="theme-color" content="#ffffff">
<meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
<meta name="keywords" content="Giansimone Perrino, Scientist, Bioengineer, Innovator, Synthetic Biology, AI, Control Engineering, Robotics, Engineering Biology">
<meta property="og:title" content="Giansimone Perrino | Scientist, Bioengineer, Innovator">
<meta property="og:description" content="Hi, I am Giansimone Perrino, a research scientist and a bioengineer. I am passionate about solving open science problems and developing next-generation technologies using the power of synthetic biology, AI, and control engineering.">
<meta property="og:url" content="https://giansimone.dev/">
<meta property="og:type" content="website">
<!-- <meta property="og:image" content="https://giansimone.dev/images/og-image.jpg"> -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Giansimone Perrino | Scientist, Bioengineer, Innovator">
<meta name="twitter:description" content="Hi, I am Giansimone Perrino, a research scientist and a bioengineer. I am passionate about solving open science problems and developing next-generation technologies using the power of synthetic biology, AI, and control engineering.">
<!-- <meta name="twitter:image" content="https://giansimone.dev/images/twitter-image.jpg"> -->

<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="academicons-1.9.2/css/academicons.min.css" type="text/css">
<link rel="stylesheet" href="css/animate.min.css" type="text/css">
<link rel="stylesheet" href="css/main.css" type="text/css">

<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-K6QKRJXM');</script>

</head>