<section id="research">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Research</h2>
                <hr class="primary">
                <p class="text-justify">I have been using my horizontal training in computer science, robotics, and biology to study a wide range of problems in life sciences.</p>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://scholar.google.com/citations?user=c5pqT0oAAAAJ">
                    <i class="ai ai-google-scholar-square ai-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>Google Scholar</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
