<script type="text/javascript">
    
    let topBtn = document.getElementById("top-button");

    window.addEventListener('scroll', function() {
        const scrollTop = document.body.scrollTop || document.documentElement.scrollTop;
        topBtn.style.display = scrollTop > 20 ? "block" : "none";
    });

    function topFunction() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }

</script>

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.fittext.js"></script>
<script src="js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/creative.js"></script>
