<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">

  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K6QKRJXM" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

  {% include nav.html %}
  {% include header.html %}
  {% include about.html %}
  {% include research.html %}
  <!--{% include portfolio.html %}-->
  {% include cv.html %}
  {% include contact.html %}
  {% include footer.html %}
  {% include scripts.html %}
</body>

</html>